# PostgreSQL
POSTGRES_HOST=cukraren-db
POSTGRES_PORT=5432
POSTGRES_DB=cukraren
POSTGRES_USER=cukraren_user
POSTGRES_PASSWORD=change_me

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@cukraren.local
PGADMIN_DEFAULT_PASSWORD=change_me
